*
{
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
}

button {
  font-size: 15px;
  padding: 10px;
  width: 150px;
  margin: 20px;
}

button:hover {
  box-shadow: 0 0 5px 3px lightgrey;
}
